# Ambiente virtual
.venv/
venv/
ENV/
env/

# Arquivos temporários e cache
__pycache__/
*.pyc
*.pyo
*.log

# IDEs
.vscode/
.idea/

# Banco local
*.db
*.sqlite

# Arquivos de JSON
schema/erp_schema.json
datalake/**/*.json
!data/*.json

# Arquivos pessoais
*.zip
*.tar.gz
*.bak

# Notebooks temporários
*.ipynb_checkpoints/
